# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# System files
.DS_Store

# Secrets
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/

# Indexes (optional, if heavy or rebuildable)
chroma_index/
faiss_index/
chroma_hadith_index/
chroma_hadith_index/
